<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Membase.Configuration.MembaseClientSection, Membase" />
    </sectionGroup>
  </configSections>

  <enyim.com>
    <memcached protocol="Binary">
      <servers bucket="uicache" bucketPassword="uicachepasswd">
        <add uri="http://servera:8091/pools/default" />
        <add uri="http://serverb:8091/pools/default" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="20" connectionTimeout="00:00:10" deadTimeout="00:00:10" />
      <locator type="FILL" factory="FILL" />
      <transcoder type="FILL" factory="FILL" />
      <keyTransformer type="FILL" factory="FILL" />
      <performanceMonitor type="FILL" factory="FILL" />
    </memcached>
  </enyim.com>
</configuration>